body {
    background-color: #e6f7ff; /* Light blue for a serene feel */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('https://github.com/minitabbattery/data-visualization/blob/main/image.jpg'); 
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-size: cover; /* Cover the entire background */
    background-position: center center; /* Center the background image */
}

header {
    background-color: #0000F1; /* Blue color for header */
    color: #FFFF; /* White text color */
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
    border-radius: 10px; /* Rounded corners for header */
}

header h1 {
    font-size: 2em; /* Larger font size for header text */
    margin-bottom: 10px; /* Additional spacing below header text */
}

header p {
    font-size: 1.2em; /* Larger font size for subtext */
    font-style: italic; /* Italic style for subtext */
}


/* Increased spacing between charts for a less cluttered feel */
#charts-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    gap: 30px; /* Increased spacing */ 
    justify-items: center; 
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 20px; 
}

canvas {
    background-color: #fff; 
    border-radius: 5px; 
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2); /* Slightly stronger shadow */
}

/* Style for images in the article */
img {
    max-width: 100%; /* Ensure images don't overflow their containers */
    height: auto; /* Maintain aspect ratio */
    border-radius: 5px; /* Rounded corners for images */
    margin-bottom: 15px; /* Spacing between images */
}
